<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">We collaborate to carry out personalized occasions such as children's birthday parties, weddings, debut, and the like. Our specialities and services include, stage decoration, centerpiece design, flower and balloon arrangement, party favors, theme design, chairs and table covers, and more.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
