<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <!-- modify this form HTML and place wherever you want your form -->

        <form class="contactForm" action="https://formspree.io/mgekjogo" method="POST">
            <label>
                Name :
                <input type="text" name="_name">
            </label>
            <label>
                Email :
                <input type="text" name="_replyto">
            </label>
            <label>
                Contact Number :
                <input type="text" name="_contact">
            </label>
            <label>
                Message :
                <textarea name="message"></textarea>
            </label>
            <!-- your other form fields go here -->
            <button class="send btn btn-primary btn-xl page-scroll" type="submit">Send</button>
        </form>
    </div>
</section>
