<section id="gallery" class="gallery">
    <h2 class="section-heading headingDark">Gallery</h2>
<ul class="galleryContainer portrait"> 
    <li class="galleryList"> <img src="img/portfolio/1.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/2.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/3.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/4.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/5.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/6.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/7.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/8.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/9.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/10.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/11.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/12.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/13.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/14.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/15.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/16.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/17.jpg" class="galleryImage" alt=""></li>
</ul>
<ul class="galleryContainer landscape"> 
    <li class="galleryList"> <img src="img/portfolio/18.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/19.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/20.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/21.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/22.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/23.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/24.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/25.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/26.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/27.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/28.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/29.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/30.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/31.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/32.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/33.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/34.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/35.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/36.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/37.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/38.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/39.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/40.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/41.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/42.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/43.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/44.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/45.jpg" class="galleryImage" alt=""></li>
</ul>
</section>