<section id="gallery" class="gallery">
    <h2 class="section-heading headingDark">Gallery</h2>
<ul class="galleryContainer portrait"> 
    <li class="galleryList"> <img src="img/portfolio/46.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/47.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/48.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/49.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/50.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/51.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/52.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/53.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/54.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/55.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/56.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/57.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/58.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/59.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/68.jpg" class="galleryImage" alt=""></li>
</ul>
<ul class="galleryContainer landscape"> 
    <li class="galleryList"> <img src="img/portfolio/60.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/61.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/62.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/63.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/64.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/65.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/66.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/67.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/69.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/70.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/71.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/72.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/73.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/74.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/75.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/76.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/77.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/78.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/79.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/80.jpg" class="galleryImage" alt=""></li>
</ul>
<ul class="galleryContainer portrait"> 
    <li class="galleryList"> <img src="img/portfolio/1.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/2.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/3.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/4.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/5.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/6.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/7.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/8.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/9.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/10.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/11.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/12.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/13.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/14.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/15.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/16.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/17.jpg" class="galleryImage" alt=""></li>
</ul>
<ul class="galleryContainer landscape"> 
    <li class="galleryList"> <img src="img/portfolio/18.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/19.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/20.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/21.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/22.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/23.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/24.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/25.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/26.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/27.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/28.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/29.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/30.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/31.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/32.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/33.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/34.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/35.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/36.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/37.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/38.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/39.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/40.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/41.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/42.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/43.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/44.jpg" class="galleryImage" alt=""></li>
    <li class="galleryList"> <img src="img/portfolio/45.jpg" class="galleryImage" alt=""></li>
</ul>
</section>